@charset "UTF-8";
/* -COLORS.SCSS */

/* VARIABILI COLORE */

$bianco:#fff;
$nero:#000;
$rosso:#a12321;
$rossochiaro:#cb0308;
$rossoscuro:#700003;
$nerochiaro:#333333;
$professional:#709dcf;
$private:#789c90;
$grigiochiaro:#f3f3f3;
$grigiorosso:#e2c9c8;
$bluscuro:#144350;
$grigiotesti:#c8c8c9;


/* COLORI PROFESSIONAL */
$azzurro_scuro:#3d618b;
$azzurro:#5984b7;
$azzurro_chiaro:#6493c8;


/* COLORI PRIVATE */
$verde_scuro:#3b6456;
$verde:#5c8576;
$verde_chiaro:#7da597;


/* COLORI ESG */
$esg_scuro:#517f0a;
$esg:#659913;
$esg_chiaro:#78b41c;


$marrone:#462716;
$grigio:#898989;

/* THEME COLORS VARS */

$color_1:$nero;
$color_2:$bianco;
$color_3:$marrone;


// Variabili colori menu' mobile
$sfondo_nav:$bianco;
$color_nav:$marrone;
$ombra_nav:$bianco;
$bottone_bk:$marrone;
$bottone_color:$bianco;
$nerochiaro:$nero;

// GESTIONE ANIMAZIONE BACKGROUND ELEMENTI


@mixin sfondoAnimato() {
  background:linear-gradient(135deg, $rossochiaro, $rosso, $rossoscuro, $rosso, $rossochiaro, $rosso, $rossoscuro, $rosso);
  background-size: 400% 100%;

  -webkit-animation: AnimaBackground 5s linear infinite;
  -moz-animation: AnimaBackground 5s linear infinite;
  animation: AnimaBackground 5s linear infinite;
}

@mixin sfondoAnimatoChiaro() {
  background:linear-gradient(135deg, 
    rgba(
      red($rossochiaro),
      green($rossochiaro),
      blue($rossochiaro),
      0.5
    ),
    rgba(
      red($rosso),
      green($rosso),
      blue($rosso),
      0.5
    ), 
    rgba(
      red($rossoscuro),
      green($rossoscuro),
      blue($rossoscuro),
      0.5
    ), 
    rgba(
      red($rosso),
      green($rosso),
      blue($rosso),
      0.5
    ), 
    rgba(
      red($rossochiaro),
      green($rossochiaro),
      blue($rossochiaro),
      0.5
    ), 
    rgba(
      red($rosso),
      green($rosso),
      blue($rosso),
      0.5
    ), 
    rgba(
      red($rossoscuro),
      green($rossoscuro),
      blue($rossoscuro),
      0.5
    ), 
    rgba(
      red($rosso),
      green($rosso),
      blue($rosso),
      0.5
    ));
  background-size: 400% 100%;

  -webkit-animation: AnimaBackground 5s linear infinite;
  -moz-animation: AnimaBackground 5s linear infinite;
  animation: AnimaBackground 5s linear infinite;
}

@mixin sfondoProfessional() {
  background:linear-gradient(135deg, $azzurro_chiaro, $azzurro, $azzurro_scuro, $azzurro, $azzurro_chiaro, $azzurro, $azzurro_scuro, $azzurro);
  background-size: 400% 100%;

  -webkit-animation: AnimaBackground 5s linear infinite;
  -moz-animation: AnimaBackground 5s linear infinite;
  animation: AnimaBackground 5s linear infinite;
}

@mixin sfondoPrivate() {
  background:linear-gradient(135deg, $verde_chiaro, $verde, $verde_scuro, $verde, $verde_chiaro, $verde, $verde_scuro, $verde);
  background-size: 400% 100%;

  -webkit-animation: AnimaBackground 5s linear infinite;
  -moz-animation: AnimaBackground 5s linear infinite;
  animation: AnimaBackground 5s linear infinite;
}


@mixin sfondoEsg() {
  background:linear-gradient(135deg, $esg_chiaro, $esg, $esg_scuro, $esg, $esg_chiaro, $esg, $esg_scuro, $esg);
  background-size: 400% 100%;

  -webkit-animation: AnimaBackground 5s linear infinite;
  -moz-animation: AnimaBackground 5s linear infinite;
  animation: AnimaBackground 5s linear infinite;
}

@-webkit-keyframes AnimaBackground {
    0%{background-position:0% 50%}
    100%{background-position:75% 50%}
}
@-moz-keyframes AnimaBackground {
    0%{background-position:0% 50%}
    100%{background-position:75% 50%}
}
@keyframes AnimaBackground {
    0%{background-position:0% 50%}
    100%{background-position:75% 50%}
}