@charset "UTF-8";
/* _TEXT.SCSS */

/* Font Library */

/* FONT PER LE ICONE */

@mixin testo_uno {font-family: 'Poppins', sans-serif;}
@mixin testo_due {font-family: 'Rubik', sans-serif;}

@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?cwx6j0');
  src:  url('../font/icomoon.eot?cwx6j0#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?cwx6j0') format('truetype'),
    url('../font/icomoon.woff?cwx6j0') format('woff'),
    url('../font/icomoon.svg?cwx6j0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e905";
}
.icon-envelop:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e900";
}
.icon-contact:before {
  content: "\e900";
}
.icon-letter:before {
  content: "\e900";
}
.icon-twitter:before {
  content: "\e901";
}
.icon-brand:before {
  content: "\e901";
}
.icon-tweet:before {
  content: "\e901";
}
.icon-social:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-brand1:before {
  content: "\e902";
}
.icon-social1:before {
  content: "\e902";
}
.icon-linkedin:before {
  content: "\e903";
}
.icon-brand2:before {
  content: "\e903";
}
.icon-social2:before {
  content: "\e903";
}
.icon-whatsapp:before {
  content: "\e904";
}
.icon-brand3:before {
  content: "\e904";
}
.icon-social3:before {
  content: "\e904";
}
