@import "config.scss";

/* STILE PAGINE INTERNE CUSTOM */


@mixin mainwrap(){
	#mainwrap {
		padding-top: 30px;

		@include mq($from:tablet){
			padding-top:40px;
		}
		@include mq($from:desktop){
			padding-top:50px;
		}
		@include mq($from:wide){
			padding-top:60px;
		}
	}

	.wk_wrap.wk_mainwrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	#breadcrumbs {
		width: 100%;
	}
}

@mixin colonna_principale {
	background: white;
	padding:15px;
	@include mq($from:tablet){
		padding:20px;
	}
	@include mq($from:desktop){
		padding:25px;
	}
	@include mq($from:wide){
		padding:30px;
	}
}


@mixin colonna_affiancata {
	background: white;
	padding:15px;
	@include mq($from:tablet){
		padding:20px;
	}
	@include mq($from:desktop){
		padding:25px;
		width: calc(100% - 300px - 30px);
	}
	@include mq($from:wide){
		padding:30px;
	}

}



@mixin sidebar_interna {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	margin-top: 30px;
	padding:15px;



	@include mq($from:desktop){
		width: 300px;
		padding:0px;
		margin-left: 30px;
		margin-top: 0px;
	}

}

/* PAGINA ABBONAMENTI */

body.abbonamenti{

	@include mainwrap();


	.column_generico {
		
		@include colonna_principale();
	}
}


/* PAGINA NEWSLETTER */


body.newsletter {
	@include mainwrap();



	.homeColumn0 {
		@include colonna_affiancata();
		@include wk_content();


		.fields {
			@include mq($from:tablet){
				width: 46%;
				float: left;
				margin-bottom: 15px;
				margin-right: 4%;
			}
		}


		label {
			width:50%;
			font-size: 0.8em;
			font-weight: 500;
			margin-right: 15px;

			@include mq($from:tablet){
				width: 100%;
			    display: block;
			    height: 25px;
			    line-height: 25px;
			}
		}

		input {
			border:0;
			border-bottom:1px solid $rosso;
			font-size: 0.8em;

			@include mq($from:tablet){
				width: 100%;
				display: block;
				height: 25px;
				line-height: 25px;
			}
		}

		select {
			height: 27px;
			line-height: 27px;
			width: 100%;
			font-size: 11px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			padding: 0 5px;
			border: 1px solid $rosso;
			margin: 0;
		}

		.fields.field_10 {
			clear: both;
			    width: 100%;
			    margin-bottom: 25px;
		}

		.fields.checkboxes label {
			line-height: 18px;
			margin: 0 0 10px 0;
			height: auto;
			padding: 0 0 0 25px;
		}

		.fields.checkboxes label.title {
			padding:0;
			font-size: 1em;
			padding-top:10px;
		}

		 .fields.checkboxes input {
		 	width: 15px;
		 	    height: 15px;
		 	    display: inline-block;
		 	    margin: 0 5px 0 -25px;
		 	    vertical-align: middle;
		 }

		 .field_11 {
		 	clear: both;
		 	    width: 90%;
		 	    margin-bottom: 45px;
		 	    float: none;
		 }


		 .buttons_wrapper input.button {
		 	background:$rosso;
		 	color: $bianco;
		 	border: none;
		 	text-align: center;
		 	width: 100%;
		 	display: block;
		 	margin: 20px 0;
		 	height: 30px;
		 	line-height: 30px;
		 	padding: 0;
		 	font-weight: normal;
		 	color: #fff;
		 	text-decoration: none;
		 	text-transform: uppercase;
		 	cursor: pointer;
		 	font-size: 14px;
		 }

		 .buttons_wrapper input.button {
		 	&:hover {
		 		background:$rossochiaro;
		 	}
		 }

		 .buttons_wrapper {
		 	    clear: both;
		 	    display: block;
		 	    padding: 5px 0 0;
		 }

	}

	/* sidebar */
	.homeColumn1 {
		@include sidebar_interna();
		@include wk_content();

		h2 {
			margin-top: 0 !important;
		}

		.slider {
			width: 100%;
			padding-bottom:100%;
			height: 0;
			margin-bottom: 60px;
			position:relative;

			.slides {
				margin:0 !important;
				position:absolute;
				width: 100%;
				height: 100%;
				margin: 0;
				list-style: none;
				padding:0;

				li {
					padding:0;
					width: 100%;
					height: 100%;
					background-position:center center;
					background-size:cover;
					list-style: none;
				}

				li span {
					position: absolute;
					top: 100%;
					margin-top: 10px;
					width: 100%;
					text-align: center;
					font-weight: 500;
				}
			}
		}
	}
}


/* SITEMAP */

body.sitemap {

	@include mainwrap();


	.column_generico {
		
		@include colonna_principale();

		a {
			color: $nero;
		}

		h3 a {
			color: $rosso;
		}

		h3 {
			margin-top: 1em;
			margin-bottom: 0.5em;
		}

		ul, ol {
			list-style:none;
			padding-left:5%;
			padding-top:0.7em;
			padding-bottom:0.7em;
		}

		li {
			list-style:disc;
			line-height:1.5em;
			margin-bottom:10px;}

		h3:first-child {
			margin-top: 0;
		}

		.widget_padding {
			@include mq($from:tablet){
				columns: 2;
			}

			@include mq($from:desktop){
				columns: 3;
			}
		}
	}

}


/* PAGINA CHI SIAMO */

body.chisiamo {
	
	@include mainwrap();

	#mainwrap {
		padding-top:0 !important;
	}

	.column_generico {
		background: white;
			padding:15px;
			@include mq($from:tablet){
				padding:20px;
			}
			@include mq($from:desktop){
				padding:25px;
				width: calc(100% - 300px - 30px);
			}
			@include mq($from:wide){
				padding:30px;
				padding-bottom: 60px;
			}
	}

	#main {
		@include mq($from:desktop){
			width: calc(100% - 300px - 30px);
		}

		@include wk_content();

		
	}

	/* sidebar */
	#sidebar {
		@include sidebar_interna();
		@include mq($from:desktop){
			padding-top:60px;
		}
	}

	.wrapwidg:first-child {
		width: 100%;

		img {
			width: 100% !important;
			height: auto !important;
		}


	}
}


/* PAGINA GUIDE */

body.guide {

	@include mainwrap();

	#mainwrap {
		padding-top:0 !important;
	}

	.column_generico {
		background: white;
			padding:15px;
			@include mq($from:tablet){
				padding:20px;
			}
			@include mq($from:desktop){
				padding:25px;
				width: calc(100% - 300px - 30px);
			}
			@include mq($from:wide){
				padding:30px;
				padding-bottom: 60px;
			}
	}

	#main {
		@include mq($from:desktop){
			width: calc(100% - 300px - 30px);
		}

		@include wk_content();

		h2.widget_title {
			margin-top: 0;
		}
		
	}

	/* sidebar */
	#sidebar {
		@include sidebar_interna();
		@include mq($from:desktop){
			padding-top:60px;
		}
	}

	.altre_news_item {
		margin-bottom: 2em;
		border-bottom: 1px solid $grigio;
		padding-bottom:1.2em;
		display: flex;
		color: #333 !important;

		* {
			color: #333 !important;
		}

		span {
			font-family: 'Poppins', sans-serif !important;
			line-height: 1.4em !important;
			font-weight: 300 !important;
		}

		h2 {
			font-size: 1.3em;
		}

		img {
			margin-right: 30px;
		}

		.read_more_link {
			font-size: 0.7em;
			text-transform: uppercase;
			margin-top: 1.2em;
			font-weight: 600;
		}

		a {
			color: $rosso !important;

			strong {
				color: $rossoscuro !important;
			}
		}
	}
}

/* PAGINA CONTATTI */

body.contatti {
	@include mainwrap();

	#mainwrap {
		padding-top:0 !important;
	}

	.column_generico {
		background: white;
			padding:15px;
			@include mq($from:tablet){
				padding:20px;
			}
			@include mq($from:desktop){
				padding:25px;
				width: calc(100% - 300px - 30px);
			}
			@include mq($from:wide){
				padding:30px;
				padding-bottom: 60px;
			}
	}

	#main {
		@include mq($from:desktop){
			width: calc(100% - 300px - 30px);
		}

		@include wk_content();

		h2.widget_title {
			margin-top: 0;
		}
		
	}

	/* sidebar */
	#sidebar {
		@include sidebar_interna();
		@include mq($from:desktop){
			padding-top:60px;
		}
	}

	a {

		color: $rosso;
		text-decoration: none;
		font-weight: 600;
	}
	a:hover {

		&:after{
			display: none;
		}
	}

	td {
		padding:15px !important;
	}

	#breadcrumbs a {
		color: $bianco;
	}
}

/* TERMINI D'USO */

body.terminiduso, body.privacy, body.dettaglio-guida {
	@include mainwrap();

	#mainwrap {
		padding-top:0 !important;
	}

	.column_generico {
		background: white;
			padding:15px;
			@include mq($from:tablet){
				padding:20px;
			}
			@include mq($from:desktop){
				padding:25px;
				width: calc(100% - 300px - 30px);
			}
			@include mq($from:wide){
				padding:30px;
				padding-bottom: 60px;
			}
	}

	#main {
		@include mq($from:desktop){
			width: calc(100% - 300px - 30px);
		}

		@include wk_content();

		h2.widget_title {
			margin-top: 0;
		}
		
	}

	/* sidebar */
	#sidebar {
		@include sidebar_interna();
		@include mq($from:desktop){
			padding-top:60px;
		}
	}

	u {
		font-weight: 600;
	}
}

/* ESG */

body.focus-esg, body.atlante-sri {

	.breadcrumbs_line a, .breadcrumbs_line a:hover {
		@include sfondoEsg();
	}

	&.wk_listato .column_padding .wrapwidg {
		border-bottom:4px solid $esg;
	}

	#macro_category .vwall {
		display: none;
	}

	.wrapwidg.cta {
		background:none;
		border:0 !important;
		width: 100%;
		@include sfondoEsg();
		padding-top:10px;
		padding-bottom:10px;
		text-align: center;

		a {
			color: $bianco;
			font-size: 1.3em;
			font-weight: 500;
		}

		a:after {
			display: none;
		}

	}

	.column_generico .wrapwidg {
		width: 100%;
	}

	&.wk_listato .column_padding .wrapwidg h2.widget_title {
		color: $esg;
		border-bottom:1px solid $esg;
	}

	&.wk_listato #macro_category .wk_item .wk_titolo a:hover {
		color: $esg;
	}
}

/* SISTEMO ADVISOR PRIVATE E PROFESSIONAL DA ESG E SRI */


/* TALK  & MONEYBOOKS */
body.talk {
	.column_generico .wrapwidg {
		width: 100%;
	}

	.wrapwidg.cta {
		background:none;
		border:0 !important;
		width: 100%;
		@include sfondoAnimato();
		padding-top:10px;
		padding-bottom:10px;
		text-align: center;

		a {
			color: $bianco;
			font-size: 1.3em;
			font-weight: 500;
		}

		a:after {
			display: none;
		}

	}

	.widget_padding img {
		max-width:100%;
		height:auto !important;
	}
}

.money-books {
	.column_generico .wrapwidg {
		width: 100%;
	}

	.wrapwidg.cta {
		background:none;
		border:0 !important;
		width: 100%;
		@include sfondoAnimato();
		padding-top:10px;
		padding-bottom:10px;
		text-align: center;

		a {
			color: $bianco;
			font-size: 1.3em;
			font-weight: 500;
		}

		a:after {
			display: none;
		}

	}

	.widget_padding img {
		max-width:100%;
		height:auto !important;
	}
}
