@import "config.scss";
/* MENUMOBILE:SCSS */

/* STILE DEL MENU DI APERTURA DEL MENU */

a.mobile-menu {
	display:block;
	width:48px;
	height:48px;
	left:-48px;
	top:15px;
	position:absolute;
	z-index:99999;
	color:$bottone_color;
	background-color:$sfondo_nav;

	@include mq($from:tablet){top:20px;}
	@include mq($from:desktop){top:25px;}
	@include mq($from:wide){top:30px;}
	
	span {
		display:block;
		margin:0 auto;
		position:relative;
		top:20px;
		transition-duration: 0s;
		transition-delay: .2s;
	}	

	span:before, span:after {
		position: absolute;
		content: '';
	}

	span, span:before, span:after {
		width: 22px;
		height: 1px;
		background-color:$bottone_color;
		border-radius:14px;
		display: block;
	}

	span:before {
		margin-top: -5px;
		transition-property: margin, transform, height;
		transition-duration: .2s;
		transition-delay: .2s, 0;
		transform-origin: 100% 0%;
	}

	 span:after {
	 	margin-top: 5px;
		transition-property: margin, transform, height;
		transition-duration: .2s;
		transition-delay: .2s, 0;
		transform-origin: 100% 0%;
	}

	svg {
		* {
			fill:$marrone;
		}
	}
}

body.nav-open a.mobile-menu {

	svg {
		opacity: 0;
		* {
			fill:$marrone;
		}

	}

	span {
		background-color: rgba(0,0,0,0.0);
		transition-delay: .1s;
	}

	span:before {
		width: 30px;
		margin-top: 10px;
		margin-left: -6px;
		transform: rotate(45deg);
		transition-delay: 0, .2s;
		height: 4px;
		background-color:$marrone;
	}

	span:after {
		width: 30px;
		margin-top: -11px;
		margin-left: -8px;
		height: 4px;
		transform: rotate(-45deg);
		transition-delay: 0, .2s;
		background-color:$marrone;
	}
}


 body.nav-open a.mobile-menu {


 	background-color: $sfondo_nav;
 	transition: all .4s;
 }
  
 body.nav-open nav .nav_wrapper {
 	top: 0;
 }


nav {
	position:relative;
	
	.nav_wrapper {
		background:$bianco;
		width: 100%; 
		height: 100vh;
		position: fixed;
		z-index: 99999;
		top: -100%;
		left: 0;
		transition:all .4s;
		z-index: 99998;
		overflow-y:scroll;
		display: flex;
		align-items: center;
	}
	
	ul {
		width: 90%;
		max-width: 1400px;
		margin:0 auto;
		text-align: center;
		display: block;
		padding:0;


		& > li {
			width: 100%;
			list-style: none;
			display: block;
			border-bottom:1px solid grey;
			
			a  {

				font-size:2em;
				display: block;
				width:100%;
				color:$grigio;
				line-height: 1em;
				padding-top:0.5em;
				padding-bottom:0.5em;
				font-weight: bold;

				@include mq($from:tablet){ 
					font-size:3.5em;
					padding-top:0.3em;
					padding-bottom:0.3em;
				}
				@include mq($from:desktop){ font-size:4em;}
				@include mq($from:wide){ font-size:5em;}

			}	
			
			a:hover {
				color:$rosso;
			}
			
			
		} /* LI */
		
	} /* UL */

	li.current-menu-item > a { color:$rosso;}
	

}



