/* ADS LAYOUT */
@import "config.scss";

.body_click {

	display: none !important;

	@include mq($from:desktop){
		display: block;

	}

	z-index: 0;
	position: relative ;
	display: block; left: 0pt; 
	width: 100%;
	top: 0pt; 
	cursor:pointer;
	height: 200px;
	overflow: visible;
	padding-top: 200px;

}

.wk_side_ads {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;
	margin-top: 25px;

	@include mq($from:desktop){
		width: 300px;
		margin-left: 30px;
		margin-top: 60px;
	}

	@include mq($from:wide){
		margin-top: 65px;
	}
	
}