@import "config.scss";
/* HEADER */
/* TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA --- TESTATA */
/* STILE DEL MENU DI APERTURA DEL MENU */


$altezza_menu_tablet:46px;
$altezza_menu:56px;


header {
	display: block;
	background-color:white;
	z-index: 9999;
	width: 100%;
	position:fixed;
	top: 0;
	left: 0;

	@include mq($from:tablet){
		position:absolute;
	}
}

.menu_attivo header{
	@include mq($from:tablet){
		position:fixed;
		top: -150px;
	}
}



/* TOP BAR --- TOP BAR --- TOP BAR --- TOP BAR --- TOP BAR --- TOP BAR --- TOP BAR --- TOP BAR */

.wk_topbar {
	position:absolute;
	opacity: 0;
	@include transition();
	display: block;
	color:$bianco;
	right: 60px;
	width: 52%;
	left: 24%;
	height: 100%;



	@include mq($from:tablet){
		opacity: 1;
		background-color: $nero;
		font-size: 12px;
		height: 40px;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 99990;
		margin: inherit;
	}

	.wk_wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: center;
		height: 100%;

		@include mq($from:desktop){
			justify-content: flex-end;
		}
	}

	.wk_pulsante_modale {
		color: $bianco;
		display:flex;
		align-self:center;
		margin-left: 3vw;
		cursor: pointer;
	}

	.wk_pulsante_modale  span {
		display: none;
		@include mq($from:tablet){
			display: inherit;
		}
	}

	.wk_pulsante_modale:first-child {
		margin-left: 0;
	}

	svg {
		height: 20px;
		margin-right: 1vw;
		transform: translateX(0px);
		@include transition();

		* {
			fill:$bianco;
		}
	}
}

.menu_attivo .wk_topbar {
	opacity: 1;
	@include transition();
}

.notouch .wk_topbar .wk_pulsante_modale:hover {
	color: $bianco;

	svg {
		transform: translateX(7px);
		@include transition();
	}
}

/* HEADER LOGO AREA --- HEADER LOGO AREA --- HEADER LOGO AREA --- HEADER LOGO AREA --- HEADER LOGO AREA */

.wk_logo_area {
	position:absolute;
	left: 0;
	top: 0;

	@include mq($from:tablet){
		display: block;
		height: 108px;
		margin-top: 40px;
		position:relative;
		width: 100%;
	}

	.wk_wrap {

		width: auto;

		@include mq($from:tablet){
		width: 96%;
		height: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content:center;
		justify-content: space-between;

		}

		& > div {

			@include mq($from:tablet){
				display: flex;
				align-self:center;
			}
		}
	}
}

#payoff_logo {
	@include mq($to:tablet){
		display: none;
	}
}

.wk_main_logo {
	height: $altezza_menu_tablet;
	position:relative;
	display: block;
	top: 10px;
	left: 4vw;
	opacity: 1;
	@include transition();

	@include mq($from:tablet){
		display: flex;
		align-self:center;
		height: 40%;
		top:inherit;
		left: inherit;
	}

	svg{
		height: 80%;
		transform: translateX(0px);
		@include transition();

		@include mq($from:tablet){
			height: 100%;
		}
	}

	.wk-cls-1{
		fill:$grigiorosso !important;

		@include mq($from:tablet){
			fill:#706f6f !important;
		}
	}
	.wk-cls-2{
		fill:$bianco !important;

		@include mq($from:tablet){
			fill:#ae0f0a !important;
		}
	}
}

.menu_attivo .wk_main_logo {
	@include mq($to:tablet){
		svg {
			* {
				opacity: 0;
				@include transition();
			}
			#o_logo {
				opacity: 1;
			}

			transform: translateX(-97px);
			@include transition();
		}
	}
}

.wk_main_title {
	display:none;
	
	@include mq($from:tablet){
		display: flex;
		flex-wrap: wrap;
	}

	font-style: italic;
	font-size: 11px;
	line-height: 1.3em;
	color: $nerochiaro;

	@include mq($from:desktop){
		font-size: 16px;
	}
	@include mq($from:wide){
		font-size: 18px;
	}
}

.wk_main_network {
	display:none;
	
	@include mq($from:tablet){
		display: flex;
		flex-wrap: wrap;
		width:42%;
	}
	@include mq($from:desktop){
		width: 33%;
	}
	@include mq($from:wide){
		max-width: 320px;
	}


	span {
		display: flex;
		font-size: 10px;
		text-align: left;
		text-transform: uppercase;
		width: 100%;
		margin-bottom: 7px;
	}

	ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

		li {
			text-align: center;

			span {
				display: none;
			}
		}
		li:last-child {
			text-align: right;
		}
		li:first-child {
			text-align: left;
		}
	}

	svg {
		height: 30px;
		transform: translateY(0px);
		@include transition();
	}
}

.notouch .wk_main_network a:hover svg {
	transform: translateY(4px);
	@include transition();
}


/* HAMBURGER MENU --- HAMBURGER MENU --- HAMBURGER MENU --- HAMBURGER MENU --- HAMBURGER MENU --- HAMBURGER MENU */

.hamburger-menu {
	display: block;
	position:absolute;
	right: 4vw;
	height: 36px;
	width: 36px;
	top: 5px;

	span {
		display: block;
		position:absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 15px;
		height: 2px;
		border-radius:36px;
		background-color:white;
	}

	span:after, span:before {
		content: "";
		display: block;
		width:25px;
		top:-7px;
		height: 2px;
		border-radius:36px;
		background-color:white;
		position:absolute;
		right: 0;
		@include transition();
		transform: rotate(0);
	} 

	span:after {
		top: 7px;
		width: 17px;
	}

	@include mq($from:tablet){
		display: none;
	}
}

.hamburger-menu.attivo {
	span {
		background-color:transparent;
	}
	span:before,span:after {
		width: 24px;
		top: 0;
		transform: rotate(45deg);
	}

	span:after {
		transform: rotate(-45deg);
	}
}


/* MAIN MENU --- MAIN MENU --- MAIN MENU --- MAIN MENU --- MAIN MENU --- MAIN MENU --- MAIN MENU --- MAIN MENU  */


.wk_menu {
	width: 100%;
	height:$altezza_menu_tablet;
	@include sfondoAnimato();

	@include mq($from:tablet){
		height:$altezza_menu_tablet;
		position:absolute;
		z-index: 99995;
	}
	@include mq($from:desktop){
		height:$altezza_menu;
	}

	.wk_wrap {
		position:fixed;
		width: 100%;
		background-color:$bianco;
		height: 100%;
		padding-bottom:40px;
		overflow: hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		top: $altezza_menu_tablet;
		left: 100%;
		z-index: 99992;
		backface-visibility: hidden;
		@include transition();
		transform: translateX(00%);

		@include mq($from:tablet){
			position:relative;
			left: inherit;
			top: inherit;
			padding-bottom:inherit;
			background-color:transparent;
			width: 96%;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-content:center;
			overflow: visible;
			overflow-y: visible;
		}
	}

}


.menu_aperto .wk_menu .wk_wrap {
	@include transition();
	transform: translateX(-100%);
}


ul#globalNavBar {

	font-size: 14px;

	@include mq($from:tablet){
		display: flex;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 500;
		color: $bianco;
		height: 100%;
		max-width: 800px;
		padding-right: 30px;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-self:center;
		flex-grow: 1;
	}
	

	@include mq($from:desktop){
		font-size: 12px;
	}

	li {
		width: 100%;
		text-transform: uppercase;
		font-weight:400;
		border-bottom:1px solid $grigiochiaro;
		height: auto;
		position:relative;

		@include mq($from:tablet){
			display: flex;
			align-self:center;
			height: 100%;
			line-height:$altezza_menu_tablet;
			width: auto;
			left: inherit;
			border-bottom:0;
		}
		@include mq($from:desktop){
			line-height:$altezza_menu;
		}
	}

	.dropdown {
		li {
			width: 100%;
			font-size: 13px;
			background-color:$grigiochiaro;
			text-transform: none;
			border-bottom:1px solid $bianco;
		}

		li:last-child {
			border-bottom:0;
		}

		.dropdown {
			li {
				font-size: 12px;
				background-color:$grigiorosso;
				border-bottom:1px solid $bianco;
			}

			li:last-child {
				border-bottom:0;
			}
		}
	}
	

	a {
		height: 48px;
		line-height: 48px;
		width: 100%;
		text-indent: 4vw;
		display: inline-block;
		color:$nerochiaro;
		white-space: nowrap;

		@include mq($from:tablet){
			text-indent: inherit;
			line-height: inherit;
			color: $bianco;
			width: auto;
			height: auto;
		}

	}

	a.expandable {
		&:before {
			content:'';
			width: 15px;
			height: 7px;
			position:absolute;
			right: 5vw;
			top: 22px;
			@include arrow($direction:"down", $color:$rosso);
			@include transition();
			transform: rotate(0deg);

			@include mq($from:tablet){
				display: none;
			}
		}
	}
	a.expandable.attivo {
		&:before {
			@include arrow($direction:"down", $color:$rosso);
			@include transition();
			transform: rotate(180deg);
		}
	}

	& > li > a {
		&:after {
			content:'';
			background-color:$bianco;
			bottom:0;
			left: 0;
			position:absolute;
			width: 0%;
			height: 2px;
			border-top-left-radius:2px;
			border-top-right-radius:2px;
			@include transition();
		}
	}

	.dropdown {
		display: none;
		@include mq($from:tablet){
			position:absolute;
			top: 100%;
			left: 0;
			background:$bianco;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
			        -2px 2px 7px rgba(0,0,0,0.15), 2px 2px 7px rgba(0,0,0,0.15);

			li {
				background:transparent;
				border:0;
				padding-left:15px;
				padding-right:15px;
				line-height: inherit;
				height: 45px;
				line-height: 45px;
			}

			a {
				color: $nero;
			}

			li:hover {
				background:$grigiochiaro;
			}
		}
	}

	.dropdown li:hover > .dropdown {
		display: none;
		@include mq($from:tablet){
			position:absolute;
			top: 0%;
			left: 100%;
			background:$grigiochiaro;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
			        -2px 2px 7px rgba(0,0,0,0.15), 2px 2px 7px rgba(0,0,0,0.15);

			li:hover {
				background:$rosso;

				a {
					color: $bianco;
				}
			}
		}
	}


	/* NETWORK LOGO --- NETWORK LOGO --- NETWORK LOGO --- NETWORK LOGO */
	.network {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content:center;
		position:relative;
		padding-top: 7px;
		padding-bottom:7px;

		@include mq($from:tablet){
			display: none;
		}

		svg {
			position:absolute;
			left: 4vw;
			height: 30px;
		}

		span {
			display: block;
			text-align: right;
			font-size: 12px;
			font-style:italic;
			font-weight: 300;
			line-height: 1.25em;
			top: 50%;
			position: absolute;
			right: 4vw;
			transform: translateY(-50%);
		}

		&.a_my svg {
			top: 27px;
		}

		&.a_pro svg {
			top: 21px;
		}

		&.a_play svg {
			top: 18px;
		}
	}

	/* NETWORK ACTION --- NETWORK ACTION --- NETWORK ACTION --- NETWORK ACTION --- NETWORK ACTION --- NETWORK ACTION */

	.network_action {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content:center;
		position:relative;
		background:$rosso;

		a {
			color:$bianco;
		}

		@include mq($from:tablet){
			display: none;
		}

		svg {
			position:absolute;
			right: 4vw;
			width: 20px;

			* {
				fill:$bianco;
			}
		}

		span {
			display: block;
			text-align: left;
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
		}

		&.n_news svg {
			top: 15px;
			width: 22px;
		}

		&.n_comm svg {
			top: 16px;
		}

		&.n_act svg {
			top: 10px;
		}
	}
}

.istouch ul#globalNavBar .dropdown a.expandable {
	@include mq($from:tablet){
		padding-right:40px;
		position:relative;
		display: block;
	}
}

.istouch ul#globalNavBar .dropdown a.expandable:before {

	@include mq($from:tablet){
		content:'';
		width: 15px;
		height: 7px;
		position:absolute;
		right: 5vw;
		top: 22px;
		@include arrow($direction:"down", $color:$rosso);
		@include transition();
		transform: rotate(0deg);
	}
	
	&.attivo {
		&:before {
			@include arrow($direction:"down", $color:$rosso);
			@include transition();
			transform: rotate(180deg);
		}
	}
}


.notouch ul#globalNavBar {

	& > li > a:hover {
		&:after {
			width: 100%;
			@include transition();
		}
	}

	& > li:hover > .dropdown {
		display: block;


		@include mq($from:tablet){
			position:absolute;
			top: 100%;
			left: 0;
			background:$bianco;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
			        -2px 2px 7px rgba(0,0,0,0.15), 2px 2px 7px rgba(0,0,0,0.15);

			li {
				background:transparent;
				border:0;
				padding-left:15px;
				padding-right:15px;
				line-height: inherit;
				height: 45px;
				line-height: 45px;
			}

			a {
				color: $nero;
			}

			li:hover {
				background:$grigiochiaro;
			}
		}

	}

	.dropdown li:hover > .dropdown {

		@include mq($from:tablet){
			display: block;
			position:absolute;
			top: 0%;
			left: 100%;
			background:$grigiochiaro;
			box-shadow: 0px 2px 4px rgba(0,0,0,0.15), 
			        -2px 2px 7px rgba(0,0,0,0.15), 2px 2px 7px rgba(0,0,0,0.15);

			li:hover {
				background:$rosso;

				a {
					color: $bianco;
				}
			}
		}
	}
}

.menu_attivo ul#globalNavBar {
	@include mq($from:desktop){
		padding-left:50px;
		padding-right:0;
	}
}


.logo_o {
	position:absolute;
	height: 28px;
	top: 7px;
	left: 4vw;
	width: 28px;
	opacity: 0;
	@include transition();
	z-index: 99994;

	@include mq($from:desktop){
		height: 30px;
	    top: 13px;
	    left: 2vw;
	    width: 30px;
	}

	@include mq($from:wide){
		left: calc( 50% - 583px);
	}

	svg * {
		fill:$bianco;
	}
}

.menu_attivo .logo_o {
	@include mq($from:desktop){
		opacity: 1;
		@include transition();
	}
}

/* ICONE MENU --- ICONE MENU --- ICONE MENU --- ICONE MENU --- ICONE MENU --- ICONE MENU --- ICONE MENU */

.wk_menu_icons {

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	height: 48px;
	margin:0 auto;
	max-width: 200px;


	@include mq($from:tablet){
		justify-content: space-between;
		height: 100%;
		align-content:center;
		width: 100px;
		margin-left: 30px;
		max-width: none;
		margin: inherit;
	}

	@include mq($from:desktop){
		width: 150px;
		margin: 0;
	}

	li {
		display: flex;
	}

	a {
		display: flex;
		align-self:center;

	}

	svg {
		display: flex;
		align-self:center;
		height: 15px;
		transform: translateY(-2px);
		@include transition();

		@include mq($from:desktop){
			height: 17px;
		}

		* {
			fill:$rosso;

			@include mq($from:tablet){
				fill:$bianco;
			}
		}
	}
}

.notouch .wk_menu_icons a:hover svg{
	transform: translateY(2px);
	@include transition();
}
