@import "config.scss";
/* FOOTER */


footer.wk_footer {
	background: $bianco;
	margin-top: 30px;
	padding-top: 60px;
	border-top: 2px solid $rossochiaro;
	box-shadow: inset 0 7px 10px -5px rgba(0,0,0,0.4);
	font-size: 12px;
	line-height: 2.5em;
	width: 100%;

	@include mq($from:tablet){
		margin-top: 40px;
	}


	@include mq($from:desktop){
		margin-top: 50px;
	}


	@include mq($from:wide){
		margin-top: 60px;
	}


	a {
		color: $nerochiaro;
		font-weight: 300;
		cursor: pointer;
		position:relative;
		display: inline-block;

		&:after {
			content: "";
			background:$rossochiaro;
			width:0;
			position: absolute;
			bottom: 7px;
			left: 0;
			height: 1px;
			@include transition();
		}
	}

	.wk_wrap {
		flex-direction: row;
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		@include mq($from:wide){
			justify-content: space-between;
		}
	}

	.wk_logo_footer {
		display: inline-block;
		max-width: 160px;

		transform: translateY(0px);
		@include transition();

		&:after {
			display: none;
		}

		svg {
			width: 100%;
		}

		#payoff_logo {
			display: block;
		}
	}

	.wk_footer_column {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;

		ul {
			display: inline-block;
			text-align: left;
		}

		@include mq($from:tablet){
			width: 25%;
			padding-bottom:30px;
		}

		@include mq($from:wide){
			width: auto;
			padding-right:40px;
			padding-bottom:0;
			margin-bottom: 30px;
			border-right:1px solid $rossochiaro;
		}
	}

	.wk_footer_column:first-child {
		width: 100%;
		@include mq($from:wide){
			width: auto;
			border-right:0;
		}
	}

	.wk_footer_column.ultima_colonna {
		@include mq($from:wide){
			border-right:0;
		}
	}


	.wk_footer_menumobile {
		display: block;
		max-width: 150px;
		border:1px solid $rossochiaro;
		border-radius:7px;
		margin-top: 15px;
		margin-bottom: 15px;
		height: 35px;
		line-height: 35px;
		padding-left:7px;
		background:transparent !important;
	}

	.wk_credits {
		font-size: 10px;
		line-height: 1.5em;
		width: 100%;
		text-align: center;
		padding-top:15px;
		padding-bottom:7px;

		a{
			&:after {
				bottom:0;
			}
		}
	}
}

.notouch footer.wk_footer a:hover {
	color: $rossochiaro;

	&:after {
		width:100%;
		@include transition();
	}
}


.notouch footer.wk_footer a.wk_logo_footer:hover {
	
	transform: translateY(-4px);
	@include transition();

}

/* MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI */
/* MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI */
/* MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI --- MODALI */


.wk_modale {
	position:fixed;
	display: none;
	opacity: 0;
	left: 0;
 	top: 0;
 	z-index: 99999;
	width: 100%;
	height: 100%;
	transform: translateY(-100%);
	@include transition();
	background:rgba(255,255,255, 0.8);

	.wk_modale_wrap{
		cursor: default !important;
		position:absolute;
		transform: translateY(-50%) translateX(-50%);
		background-color: $bianco;
		width: 90%;
		max-width: 600px;
		min-height:500px;
		max-height:90vh;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		top:50%;
		left: 50%;
		border:6px solid $rossochiaro;
		padding:30px;
		border-radius:10px;
		text-align: center;
		@include transition();

		h2 {
			font-size: 20px;
			color: $rossochiaro;
			text-align: center;
			margin-top: 30px;
			margin-bottom: 30px;
		}

		h4 {
			text-transform: uppercase;
			font-size: 0.9em;
			color: $rossochiaro;
			margin-top: 15px;
			margin-bottom: 7px;
		}

		.wk_testo_modale {
			font-size: 16px;
			line-height: 1.5em;
			margin: 0 auto;
			max-width: 500px;
			text-align: left;
			margin-bottom: 15px;
		}
	}

	.slider {
		width: 100%;
		height: 0;
		padding-bottom:50%;
		overflow: hidden;
		text-align: center;
		position:relative;

		ul {
			position:absolute;
			width: 100%;
			height: 100%;

			li {
				position:absolute;
				width: 100%;
				height: 100%;
				background-position:center center;
				background-size:contain;
				background-repeat: no-repeat;

			}
		}
	}

	.wk_pulsante {
		font-size: 16px;
		margin-left: -10px;
		margin-top: 15px;
		margin-bottom: 15px;
		cursor: pointer !important;
	}
}

.wk_modale.attivo {
	opacity: 1;
	transform: translateY(0%);
	@include transition();

	.wk_modale_wrap{
		top: 50%;
		opacity: 1;
		z-index: 99999;
		@include transition();
	}

}

body.notouch.overlay {
	cursor:n-resize;
}
