@import "config.scss";

.wk_listato {


	.column_padding .wrapwidg {
		background: $bianco;
		padding:15px;
		padding-top:15px;
		font-size: 0.9em;
		border-bottom:4px solid $rossochiaro;

		@include mq($from:tablet){
			padding:30px;
		}

		@include mq($from:desktop){
			padding:35px;
		}
		@include mq($from:wide){
			padding:40px;
		}


		@include wk_content();
	}

	.contents_container_all {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;

	}

	
	#macro_category .wk_item {

		width: 100%;
		background:$bianco;

		@include mq($from:500){
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			position:relative;
			margin-bottom: 8px;
		}
		@include mq($from:1000){
			margin-bottom: 15px;
		}


		.wk_wrap_image {
			@include mq($from:500){
				position:absolute !important;
				width: 34% !important;
				padding-bottom:0% !important;
				height: 100% !important;
				overflow: hidden;
			}

			a {
				width: 100%;
				height: 100%;
				display: block;
				background-position:center center;
				background-size:cover;
				@include transition();
			}

			a:hover {
				@include transition();
			}


		}

		.wk_articolo{
			padding:15px;
			position: relative;

			@include mq($from:500){
				left: 34%;
				width: 66% !important;
			}
		}

		.wk_titolo a {
			color: $nero;
			font-size: 16px;
			font-weight: 500;
			padding-top:7px;
			padding-bottom:7px;

			&:after {
				display: none;
			}

			&:hover {
				color: $rossochiaro;
			}
		}

		.wk_excerpt {
			padding-top:7px;
			padding-bottom:7px;
			font-size: 13px;
			line-height: 1.5em;
		}

		.wk_meta {
			font-size: 11px;
			color: $grigio;
			font-weight: 500;

			a {
				color: $grigio;
				font-weight: 500;

				&:after {
					display: none;
				}

				&:hover {
					color: $rossochiaro;
				}
			}


		}

		.wk_social_sharing {
			margin-bottom: 0;
			margin-top: 0;
			list-style: none;
			padding-left:0;

			a {
				&:after {
					display: none;
				}
			}

			li:last-child {
				@include mq($from:tablet){
					display: none;
				}
			}
		}

		.wk_social_sharing:hover, .wk_social_sharing.attivo {
			@include mq($from:tablet){
				width: initial !important;
			}
		}


	}
}

#macro_category {
	padding:0;
	border-bottom:0;
	background:none;

	.pager {
		display: flex;
		width: 100%;
		justify-content: center;
		flex-direction: row;
		flex-wrap: nowrap;
		font-size: 14px;
		padding-top:15px;
		list-style: none;

		li {
			padding-left:7px;
			padding-right:7px;
			font-weight: 500;
			transform: translateY(0px);
			list-style: none;
			@include transition();
		}

		li:hover {
			transform: translateY(-3px);
			@include transition();
		}

		a:after {
			display: none;
		}

		a.on {
			color: $nero;
			font-weight: 500;
		}
	} 
}

.notouch #macro_category {
	.wk_wrap_image .wk_image:hover {
		transform: scale(1.1) !important;
		@include transition();
		transition-duration:1s !important;
	}
}

#sidebar .wrapwidg {
	background:none;
	padding:0;
	border-bottom:0;
}

#above-the-footer-nested-page {

	#advisor-private, #advisor-professional {
		@include mq($from:desktop){
			width: calc(100% - 300px - 30px);
		}
	}

	#advisor-professional {
		margin-top: 60px;
		@include mq($from:desktop){
			margin-top: 80px;
		}
	}

	.wk_wrap.wk_mainwrap {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}


/* CODICE REPLY */
.wk_listato #main {
	position: relative;
	width: 100%;
	font-size: 16px;
	line-height: 1.66em;
} 
@media (min-width: 62.5em){ 
	.wk_listato #main {
		width: calc(100% - 300px - 30px);
	} 
} 
.wk_listato .wk_mainwrap {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	flex-wrap: wrap;
}