@import "config.scss";
/* MAIN */

/* BODY */

html {
	overflow-y: scroll;
}

html.bloccoscroll, body.bloccoscroll { 
	overflow-y:hidden; 
	overflow: hidden;
}

html, body {
	max-width: 100%;
	background:$grigiochiaro;
}


/* CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI --- CONTENUTI  */

#contenuti {

}

.wk_wrap {
	width: 96%;
	margin: 0 auto;
	max-width: 1130px;
}


#mainwrap {
	width: 100%;
}

.column_padding {
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.wrapcontent_padding.wk_mainwrap {
	width: 100%;
	margin: 0 auto;
	max-width: 1130px;
	margin-top: 40px;
	position: relative;

	@include mq($from:tablet){
		margin-top: 200px;
	}

	@include mq($from:desktop){
		margin-top: 200px;
	}
}