@import "config.scss";


.articolo-single-page {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

/* BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS */
/* BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS */
/* BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS --- BREADCRUMBS */

.breadcrumbs_line {
	width: 100%;
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 25px;
	line-height: 25px;
	font-size: 12px;

	@include mq($from:tablet){
		font-size: 13px;
		height: 30px;
		line-height: 30px;
	}
	@include mq($from:desktop){
		font-size: 14px;
	}

	span {
		display: block;
	}

	a {
		display: inline-block;
		@include sfondoAnimatoChiaro();
		text-transform: uppercase;
		color: $bianco;
		width: auto;
		padding:0;
		margin: 0;
		padding-right: 15px;
		padding-left:15px;
		font-weight: 500;
		margin-right: 2px;
	}

	span:last-child a {
		@include sfondoAnimato();
	}
}

.notouch .breadcrumbs_line a:hover {
	@include sfondoAnimato();
}


/* SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO */
/* SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO */
/* SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO --- SINGOLO ARTICOLO */

.articolo-single-page #main {
	position:relative;
	width: 100%;
	font-size:16px;
	line-height: 1.66em;

	@include mq($from:desktop){
		width: calc(100% - 300px - 30px);
		
	}

	.interno {
		width: 100%;
	}

	.wk_image {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display: block;
		position:absolute;
		top:0;
		left: 0;
		transform: scale(1);
		@include transition();


	}

	.wk_wrap_image {
		width: 100%;
		height: 0;
		padding-bottom:55%;
		overflow: hidden;
		position:relative;
	}

	.wk_intro_news {
		background:$bianco;
		width: 100%;


		.wk_articolo {
			margin-left:4vw;
			margin-right:4vw;
			margin-top: -30px;
			padding:15px;
			background:$bianco;
			position:relative;

			@include mq($from:tablet){
				margin-left: 40px;
				margin-right: 40px;
				padding:30px;
			}
		}


		.wk_titolo {
			font-size: 20px;
			line-height: 1.5em;
			padding-top:7px;
			padding-bottom:15px;
			font-weight: 500;

			a {
				color: $nero;
			}

			@include mq($from:tablet){
				font-size:24px;
			}

			@include mq($from:desktop){
				font-size:26px;
			}

			@include mq($from:wide){
				font-size:30px;
			}
		}

		.wk_excerpt {
			font-size: 14px;
			color: $rossochiaro;
			font-style: italic;
			line-height: 1.4em;
			font-weight: 400;
			padding-bottom:20px;

			@include mq($from:tablet){
				display: block;
				font-size: 15px;
				padding-bottom:30px;
			}
			@include mq($from:desktop){
				display: block;
				font-size: 16px;
				padding-bottom:40px;
			}
			@include mq($from:wide){
				display: block;
				font-size: 18px;
				padding-bottom:50px;
			}
		}

		.wk_meta_wrap {
			width: 100%;
			text-align: center;
		}

		.wk_sep {
			color: $rossochiaro;
			font-weight: 500;
		}

		.wk_meta {
			color: $nero;
			font-weight: 500;
			font-size: 12px;
			line-height: 1em;

			@include mq($from:tablet){
				font-size: 13px;
			}
			@include mq($from:desktop){
				font-size: 14px;
			}
			@include mq($from:wide){
				font-size: 15px;
			}

			a {
				color: $nero;
				white-space: nowrap;
				padding-top:3px;
				display: inline-block;
			}
		}

		

	} /* FINE INTRO NEWS */

	.interno .wk_social_sharing {
			width: 100%;
			position:relative;
			background:none;
			left: initial;
			top: initial;
			bottom:initial;
			right: initial;
			margin-top: 20px;
			margin-bottom: 5px;
			text-align: center;
			justify-content: center;

			li {
				display: inline-block;
			}

			li:last-child {
				display: none;
			}

			li:first-child {
				margin-left: 0;
			}

			a:after {
				display: none;
			}
		}

	.wk_news_content {
		width:100%;
		margin: 0;
		background:$bianco;
		padding:30px;
		padding-top:1px;

		@include mq($from:tablet){
			padding-left:70px;
			padding-right:70px;
		}

		@include wk_content();

		


		.wk_end_news {
			padding-top:30px;
			padding-bottom:30px;
			width: 100%;
			text-align: center;
		}

	}

}

.wk_newsletter_news {
	padding-top:30px;
	padding-bottom:30px;
	display: flex;
	flex-direction: column;

	@include mq($from:tablet){
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.wk_fascia_titolo_newsletter{
		width: calc(100% + 60px);
		margin-left: -30px;
		margin-right: -30px;
		@include sfondoAnimato();
		min-height: 50px;
		line-height: 50px;
		color: $bianco;
		text-align: center;
		font-style: italic;
		font-weight: 700;
		margin-bottom: 30px;

		@include mq($from:tablet){
			width: calc(100% + 140px);
			margin-left: -70px;
			margin-right: -70px;
		}

	}

	.wk_newsletter_column {

		text-align: left;
		font-style: italic;
		font-weight: 100;

		@include mq($from:tablet){
			width: 50%;
			display: flex;
			align-items: center;
			padding-right:15px;
		}
	}


	.wk_input_newsletter {
		text-align: center;
		padding-top:30px;

		@include mq($from:tablet){
			padding-top:initial;
			justify-content: space-between;
			padding-right:0px;

		}
	}

	input {
		border:0;
		border-bottom: 1px solid $rossochiaro;
		margin-right: 30px;
	}
}


/* SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR */
/* SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR */
/* SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR --- SIDEBAR */

#sidebar {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 100%;

	@include mq($from:desktop){
		width: 300px;
		margin-left: 30px;
		margin-top: 60px;
	}
}


/* BLOCCHI PREFOOTER */

.wk_rivista_inner {
	flex-direction: row;

	@include mq($from:tablet){
		margin-top: 70px;
	}
	
	@include mq($from:desktop){
		width: 300px;
		margin-left: 0px;
		margin-top: 80px;
		flex-direction: column;
	}

	.wk_riviste_testo {
		@include mq($from:desktop){
			width: 100%;
			text-align: center;
		}
		@include mq($from:wide){
			width: 70%;
			margin: 0 auto;
			text-align: center;
		}

		h5, p {
			@include mq($from:desktop){
				text-align: center;
			}
		}
	}
}