@import "config.scss";

/* TIPOGRAFIA.SCSS */

html, body {
  font:normal 100%/1.5;
  font-family: 'Poppins', sans-serif;
  font-size:13px;
  line-height: 1.4em;
  letter-spacing: 0.03em;
  word-spacing: 0.07em;
  font-weight: 300;
  max-width: 100%;
  @include mq($from:tablet){font-size:14px;}
  @include mq($from:desktop){font-size:15px;}
  @include mq($from:wide){font-size:16px;}
}

i, em { font-style:italic;}
strong, b { font-weight:bold; }
strong em, strong i, { font-weight: bold; font-style: italic; }

/* Link di base */
a {
	text-decoration:none;
	color:$rosso;
	@include transition(all 0.2s ease-in-out);
  	outline:none !important;
}

a:hover {
	color: $rossochiaro;
	text-decoration:none;
  	outline:none !important;
}

@mixin textexpand {
	letter-spacing:0.06em;
	word-spacing:0.1em;
}


/* TITOLI GENERALI DEL SITO */

h1, h2, h3, h4, h5, h6 {
	font-weight:400;
	line-height:1.3em;
	display:block;
	width:100%;
	clear:both;
}

h1 {
	line-height: 1.1em;
	font-size: 2rem;
	@include mq($from:tablet) { font-size:2rem;}
	@include mq($from:desktop) { font-size:2.2rem;}
	@include mq($from:wide) { font-size:2.5rem;}
}	
	
h2 {
	font-size:1.7rem;
	@include mq($from:desktop) { font-size:2rem;}
}

h3 {
	color: $rosso;
	font-size:1.4rem;
	text-transform: uppercase;
	font-weight: bold;}
	
h4 {
	font-size:1.2rem;}
	
h5 {
	color: $rosso;
	font-size:1rem;
	font-weight:800;
	text-transform:uppercase;}

h6 {
	font-size:0.9rem;
	font-weight:800;
	color: $color_3;
	text-transform:uppercase;
}


ul {
	list-style: none;
	margin:0;
	padding:0;
	li {
		list-style: none;
		margin:0;
		padding:0;
	}
}

.wp-content {
	img { max-width:100% !important; height: auto;}
	
	p {
		padding-bottom:1em;}
		
	
	ul, ol {
		list-style:none;
		padding-left:5%;
	}

	li {
		list-style:disc;
		line-height:1.5em;
		margin-bottom:10px;}
		
	li ul li ul li {
		line-height:1.5em;}
	
	ol li {
		list-style:decimal;}
		
	li ol li ol li {
		list-style:decimal;
		line-height:1.5em;}
		
	blockquote {
		display: inline-block;
		width: 100%;
		font-family: Georgia, serif;
		font-size: 2rem;
		font-style: italic;
		width: 100%;
		margin: 0.25em 0;
		    margin-top: 5rem;
		padding: 0.25em 60px;
		padding-top: 0;
		line-height: 1.3em;
		position: relative;
		color: $color_1;
		box-sizing: border-box;
		@include mq($from:tablet){
			font-size: 3rem;
		}
	}
	
	blockquote:before {
		display: block;
		content: "\201C";
		font-size: 11rem;
		position: absolute;
		left: -10px;
		top: -0px;
		color:lighten($color_1, 75%);
	}
	
	blockquote cite {
		color: $color_1;
		font-size: 1em;
		display: block;
		margin-top: 5px;
	}
	 
	blockquote cite:before {
		content: "\2014 \2009";
	}
	
}
