@import "config.scss";
/* WIDGET */

.wk_pulsante {
	color: $rossochiaro;
	font-weight: 500;
	font-size: 12px;
	display: inline-block;
	text-transform: uppercase;
	position:relative;
	padding:5px;
	padding-left:12px;
	padding-right:12px;
	white-space: nowrap;
	margin-top: 15px;
	margin-bottom: 15px;


	&:after {
		content: "";
		width: 7px;
		height: 7px;
		position:absolute;
		right: 0;
		top: 0;
		border-top:2px solid $rossochiaro;
		border-right:2px solid $rossochiaro;
		@include transition()
	}
}

input[type=button], input[type=submit]{
	border:0 !important;
	font-size: 0.8em;
	font-style: normal;
	font-weight: 500;
	color: $rossochiaro;
	text-transform: uppercase;
	cursor: pointer;
	padding:7px;
	padding-left:15px;
	padding-right: 15px;
	@include transition();
	background:$bianco;
}

.notouch input[type=button], .notouch input[type=submit] {
	&:hover {
		background:$rosso;
		color: $bianco;
		@include transition();
	}
}

.notouch .wk_pulsante:hover{

	&:after{
		@include transition();
		transform: translateY(-2px) translateX(4px);
	}
}



.wk_social_sharing {

	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	position:absolute;
	bottom:15px;
	right:15px;
	background:$bianco;
	font-size: 18px;
	justify-content: flex-end;

	li {
		margin-left: 15px;
		display: none;

		@include mq($from:tablet){
			display: inline-block;
			font-size: 15px;
		}
	}

	li:last-child {
		display: inline-block;

		@include mq($from:tablet){
			display: none;
		}
	}

	a {
		color: $grigiotesti;
	}
}

.wk_social_sharing.attivo, .notouch .wk_social_sharing:hover {

	width: calc(100% - 15px);

	li {
		display: inline-block;
	}
}

.notouch .wk_social_sharing a:hover {
	color: $rosso;
}


/* WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE */
/* WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE */
/* WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE --- WIDGET BASE */


.wk_widget {
	margin-top: 20px;

	@include mq($from:tablet){
		margin-top: 25px;
	}
	@include mq($from:desktop){
		margin-top: 30px;
	}
	@include mq($from:wide){
		margin-top: 35px;
	}

	h2.widget_title {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		height: 25px;
		line-height: 25px;
		font-size: 12px;

		@include mq($from:tablet){
			font-size: 13px;
			height: 30px;
			line-height: 30px;
		}
		@include mq($from:desktop){
			font-size: 14px;
		}

		& > a {
			display: inline-block;
			@include sfondoAnimato();
			text-transform: uppercase;
			color: $bianco;
			width: auto;
			padding:0;
			margin: 0;
			padding-right: 15px;
			padding-left:15px;
			font-weight: 500;

			
		}

		.wk_data_giorno {
			padding-left:30px;
			font-style: italic;
		}
	
	}

	.vwall {
		display: none;
	}

	.wk_categoria {
		color: $rosso;
		font-size: 9px;
		line-height: 1em;
		text-transform:uppercase;
		font-weight: 600;
	}

	.wk_meta {
		color: $grigio;
		font-weight: 300;
		font-size: 10px;
		line-height: 1em;

		a {
			color: $grigio;
			white-space: nowrap;
			padding-top:3px;
			display: inline-block;
		}
	}

	.wk_titolo {
		font-size: 11px;
		line-height: 1.5em;
		font-weight: 500;
		letter-spacing: initial;
		word-spacing: initial;

		a {
			color: $nero;
		}
	}


	.wk_excerpt {
		display: none;
		font-size:11px;
		line-height: 1.5em;
		@include testo_due;
		color: $nerochiaro;

		@include mq($from:desktop){
			font-size:12px;
		}

		@include mq($from:wide){
			font-size:13px;
		}
		
	}
	
}

.wk_ads {

	.wk_categoria {
		color: $bluscuro;
	}

	.wk_meta {
		color: $bluscuro;
		font-weight: 600;
		text-transform: uppercase;

		a {
			color: $bluscuro;
		}
	}

}


.notouch .wk_widget {

	.wk_meta a:hover {
		color: $rosso;
	}


	.wk_titolo a:hover {
		color: $rosso;
	}

	.wk_wrap_image .wk_image:hover {
		transform: scale(1.1) !important;
		@include transition();
		transition-duration:1s !important;
	}


	.wk_item:hover {

		.wk_titolo a:hover, .wk_titolo a {
			color: $rosso;
		}

		.wk_image img {
			@include transition($transition-time:30s);
			display: block;
			transform: scale(1.1);
		}

	}

}


/* FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO */
/* FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO */
/* FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO --- FATTI DEL GIORNO */

#fatti-del-giorno {
	position:relative;
	width: 100%;
	order:-2;
}


#fatti-del-giorno .wk_contenitore_lista {
	background:$bianco;
	padding-top: 18px;
	padding-bottom:18px;
	height: 136px;
	width: 100%;
	position:relative;


	.wk-owl-fatti-del-giorno {
		height: 100px;
		width: 100%;

		@include mq($from:tablet){
			width: calc(100% - 30px);
		}
	}

	.wk_item {
		position: relative;
		height: 100px;
		width: auto;
		padding-left: 15px;
		display: flex;
	}

	.wk_articolo {
		padding-left:15px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}


	.wk_image {

		@include mq($from:tablet){
			width: 100px;
		}

		a {
			@include mq($from:tablet){
				width: 100px;
				height: 100px;
				overflow: hidden;
				display: block;
				position:relative;
			}
		}

		img {
			display: block;
			height: 100px;
			width: auto;
			@include transition();
		}
	}

	.wk_barra_scroll{
		display: none;

		@include mq($from:tablet){
			display: block;
			cursor: pointer;
			width: 25px;
			height: 100%;
			position:absolute;
			right: 0;
			top: 0;
			background:$rosso;
			@include transition();
		}

		&:after {
			content: "";
			width: 19px;
			height: 20px;
			display: block;
			position:absolute;
			top: 60px;
			left: 3px;
			@include transition();
			transform: translateX(0) rotate(270deg);
			@include arrow($direction:"left", $color:$bianco);
		}
	}
}

.notouch #fatti-del-giorno .wk_contenitore_lista .wk_barra_scroll:hover {
	background:$rossoscuro;
	@include transition();

	&:after {
		@include transition();
		transform: translateX(2px) rotate(270deg);
	}
}

/* NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE */
/* NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE */
/* NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE --- NEWS PIU LETTE */

#news-piu-lette, #news-correlate {
	position:relative;
	order:0;

	@include mq($from:tablet){
		margin-bottom: 30px;
	}

	@include mq($from:desktop){
		width: 22%;
		order:-1;
	}
}

#news-correlate {
	@include mq($from:desktop){
		width: 31%;
		order:initial;
	}
}

#news-piu-lette .wk_contenitore_lista, #news-correlate .wk_contenitore_lista{
	background:$bianco;

	.wk_item {
		border-bottom: 2px solid $grigiochiaro;
		padding-top:12px;
		padding-bottom:12px;
		padding-left:4%;
		padding-right:4%;
		display: none;
		width: 100%;

		@include mq($from:tablet){
			display: block;
			width: 50%;
			padding-left:2%;
			padding-right:2%;
		}

		@include mq($from:desktop){
			width: 100%;
			padding-left:15px;
			padding-right:15px;
			padding-top:14px;
			padding-bottom:14px;
		}


	}

	.contents_container_all {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position:relative;
	}

	.wk_categoria {
		font-size: 10px;
	}


	.wk_titolo {
		font-size: 13px;
		line-height: 1.3em;
		padding-top:3px;
		padding-bottom:3px;

		@include mq($from:desktop){
			font-size: 14px;
			padding-top:12px;
			padding-bottom:11px;
		}
	}

	.wk_item:nth-child(-n+5){
		display: block;
	}

	.wk_item:nth-child(10){
		@include mq($from:desktop){
			display: none;
		}
	}

	.wk_pulsante {
		position:absolute;
		left:calc(50% - 12px);
		transform: translateX(-50%);
	}

}

.notouch #news-piu-lette .wk_contenitore_lista .wk_item:hover {
	background:$grigiochiaro;
	cursor: pointer;
}


/* PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO */
/* PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO */
/* PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO --- PRIMO PIANO */

#primo-piano {
	position:relative;
	order:-1;
	width: 100%;

	@include mq($from:tablet){
		margin-bottom: 30px;
	}

	@include mq($from:desktop){
		width: calc(100% - 22% - 300px - 25px - 30px);
		margin-left: 25px;
		order:0;
	}

	/*
	.widget_title {
		position:absolute;
		left:0;
		top: 0;
	}
	*/

	.contents_container_all {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;

		@include mq($from:tablet){
			flex-direction: row;
			justify-content: space-between;
		}
		@include mq($from:desktop){
			flex-direction: column;
		}
	}

	.wk_image {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display: block;
		position:absolute;
		top:0;
		left: 0;
		transform: scale(1);
		@include transition();


	}

	.wk_wrap_image {
		width: 100%;
		height: 0;
		padding-bottom:55%;
		overflow: hidden;
		position:relative;
	}

	.wk_main_primo_piano {
		background:$bianco;
		width: 100%;

		@include mq($from:tablet){
			width: 70%;
		}

		@include mq($from:desktop){
			width: 100%;
		}

		.wk_articolo {
			margin-left:4vw;
			margin-right:4vw;
			margin-top: -30px;
			padding:15px;
			background:$bianco;
			position:relative;

			@include mq($from:desktop){
				margin-left: 40px;
				margin-right: 40px;
			}
		}

		.wk_categoria {
			font-size: 10px;
		}


		.wk_titolo {
			font-size: 18px;
			line-height: 1.5em;
			padding-top:7px;
			padding-bottom:7px;

			@include mq($from:tablet){
				font-size:22px;
			}

			@include mq($from:desktop){
				font-size:25px;
			}

			@include mq($from:wide){
				font-size:28px;
			}
		}

	}

	.wk_excerpt {
		display: none;

		@include mq($from:tablet){
			display: block;
			padding-bottom:10px;
		}
		@include mq($from:desktop){
			display: block;
			padding-bottom:18px;
		}
		@include mq($from:wide){
			display: block;
			padding-bottom:25px;
		}
	}

	.wk-owl-primo-piano {
		width: 100%;

		@include mq($from:tablet){
			width: calc(30% - 15px);
		}
		@include mq($from:desktop){
			width: calc(100% + 24px);
			margin-top: 25px;
			margin-bottom: 25px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			margin-left: -12px;
			margin-right: -12px;
			position:relative;
		}
	}

	.wk_item {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content:space-around;
		padding-top:15px;
		padding-bottom:15px;

		@include mq($from:tablet){
			flex-direction: column;
			padding-top:0;
			padding-bottom:0;
			justify-content: space-between;
		}
		@include mq($from:desktop){
			width: calc(100% - 24px);
			margin-left: 12px;
			margin-right: 12px;
		}
	}

	.wk_sub_item {
		width: calc(50% - 15px);
		background:$bianco;

		@include mq($from:tablet){
			width: 100%;
		}

		&:first-child {
			@include mq($from:tablet){
				margin-bottom: 15px;
			}
			@include mq($from:desktop){
				margin-bottom: 25px;
			}
		}

		.wk_articolo {
			padding:15px;
			position:relative;
		}


		.wk_titolo {
			font-size: 12px;
			line-height: 1.5em;
			padding-top:7px;
			padding-bottom:7px;
		}

		.wk_social_sharing {

			li {
				display: none;
			}

			li:last-child {
				display: inline-block;
			}
		}

		.wk_social_sharing.attivo {
			li {
				display: inline-block;
			}
		}
	}
	
}


#primo-piano .wk_main_primo_piano .wk_social_sharing.attivo , 
.notouch .wk_main_primo_piano .wk_social_sharing:hover  {
	
	width: initial;

	li:last-child {
		@include mq($from:tablet){
			display: none;
		}
	}
}

#primo-piano .wk_sub_item .wk_sub_item .wk_social_sharing.attivo , 
.notouch #primo-piano .wk_sub_item .wk_social_sharing:hover  {
	
	width: calc(100% - 15px);

	li {
		display: inline-block;
	}
}


#primo-piano.primo-piano-inner {
	order:initial;
	width: 100%;
	margin-top: 80px;

	@include mq($from:tablet){
		margin-bottom: 30px;
	}

	@include mq($from:desktop){
		margin-top: 30px;
		width: calc(100% - 31% - 30px);
		margin-left: 30px;
		order:0;
	}
	@include mq($from:wide){
		margin-top: 35px;
	}
}

#primo-piano.primo-piano-inner .contents_container_all {
	@include mq($from:desktop){
		width: calc(100% + 24px);
		margin-left: -12px;
		margin-right: -12px;
	}

	.wk_social_sharing {
		@include mq($from:desktop){
			bottom:12px;
		}
	}

}


/* GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE */
/* GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE */
/* GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE --- GIRI DI POLTRONE */


#giri-di-poltrone {
	position:relative;
	width: 100%;
	margin-top: 60px;
	overflow: hidden;

	@include mq($from:1100px){
		overflow: visible;
	}


	.wk-owl-giri-di-poltrone {
		@include mq($from:desktop){
			margin-left:-12px;
			margin-right:-12px;
			width: calc(100% + 24px );
		}
	}

	.wk_item{
		margin-left:12px;
		margin-right:12px;
		margin-bottom: 30px;
		margin-top: 15px;
		background:$bianco;
		-webkit-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.11);
		-moz-box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.11);
		box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.11);
		@include transition();

		@include mq($from:desktop){
			margin-bottom: 15px;
		}
		@include mq($from:wide){
			margin-bottom: 20px;
		}
	}

	.wk_articolo {
		padding:15px;
		position:relative;
	}

	.wk_excerpt {
		display: none;
		padding-bottom:7px;

		@include mq($from:tablet){
			display: block;
			font-size:12px;
			padding-bottom:15px;
		}
	}


	.wk_titolo {
		font-size: 14px;
		line-height: 1.5em;
		padding-top:7px;
		padding-bottom:7px;

		@include mq($from:desktop){
			font-size:15px;
			padding-top:7px;
			padding-bottom:15px;
		}
	}

	.wk_image {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display: block;
		position:absolute;
		top:0;
		left: 0;
		transform: scale(1);
		@include transition();


	}

	.wk_wrap_image {
		width: 100%;
		height: 0;
		padding-bottom:55%;
		overflow: hidden;
		position:relative;
	}

	.owl-dots {
		@include mq($from:tablet){
			position:relative;
			bottom:0;
			padding-top:7px;
			padding-bottom:7px;

		}
	}


	.customContentListFooter{
		text-align: center;

		@include mq($from:tablet){
			position: absolute;
			right: 15px;
			bottom: -15px;
			z-index: 9;
		}
		@include mq($from:wide){
			right: 0;
		}
	}
	
}

.notouch #giri-di-poltrone .wk_item:hover {
	-webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.25);
	@include transition();
} 


/* ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL */
/* ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL */
/* ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL --- ADVISOR PROFESSIONAL */



#advisor-professional, #advisor-private {
	position:relative;
	width: 100%;
	margin-top: 30px;

	@include mq($from:tablet){
		margin-top: 60px;
	}

	@include mq($from:desktop){
		width: calc(100% - 300px - 30px);
	}

	h2.widget_title {
		position:relative;
		width: 100%;

		& > a {
			display: inline-block;
			@include sfondoProfessional()
		}

		@include mq($from:desktop){
			margin-bottom: 8px;
		}
	}

	.contents_container_all {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		@include mq($from:tablet){
			display: block;
		}
	}

	.wk_item {
		margin-bottom:8px;
		height: 0;
		background:$azzurro;
		position:relative;

	}

	.wk_item:first-child {
		width: 100%;
		padding-bottom:60%;

		@include mq($from:tablet){
			float: left;
			width: calc(50% - 4px);
			margin-right: 4px;
			padding-bottom:50%;
		}

		.wk_titolo {
			font-size:18px;
			line-height: 1.35em;
			padding-left:15%;
			padding-right:15%;
			padding-bottom:7px;
			font-weight: 500;

			@include mq($from:500px){
				padding-bottom:15px;
				font-size:20px;
			}
			@include mq($from:tablet){
				padding-left:2vw;
				padding-right:2vw;
				padding-bottom:10px;
			}

			a {
				@include mq($from:500px){
					max-width: 300px;
				}
			}
		}

		.wk_meta {
			color: $bianco;
			font-size: 11px;
		}

		.wk_articolo {
			padding-bottom:7px;
			@include mq($from:500px){
				padding-bottom:15px;
			}
		}

	}

	.wk_item:nth-child(2){
		width: calc(50% - 4px);
		padding-bottom:50%;
		margin-right: 4px;

		@include mq($from:tablet){
			float: left;
			padding-bottom:calc(25% - 4px);
			margin-right: 0;
			margin-left: 4px;
		}


		.wk_titolo {
			@include mq($from:tablet){
				font-size: 18px;
				padding-bottom:7px;
			}
			@include mq($from:desktop){
				font-size: 16px;

			}
		}
	}

	.wk_item:nth-child(3){
		width: calc(50% - 4px);
		margin-left: 4px;
		padding-bottom:50%;

		@include mq($from:tablet){
			float: left;
			width: calc(25% - 6px);
			padding-bottom:calc(25% - 6px);
			margin-left: 4px;
			margin-right: 4px;
		}

		.wk_titolo{
			@include mq($from:desktop){
				font-size:12px;
				padding-bottom:5px;
				padding-left:1vw;
				padding-right:1vw;
			}
		}
		.wk_meta{
			@include mq($from:desktop){
				font-size:10px;
				padding-left:1vw;
				padding-right:1vw;
			}
		}
	}


	.wk_item:nth-child(4){
		display: none;

		@include mq($from:tablet){
			display: block;
			float: left;
			width: calc(25% - 6px);
			padding-bottom:calc(25% - 6px);
			margin-left: 4px;
		}
		.wk_titolo{
			@include mq($from:desktop){
				font-size:12px;
				padding-bottom:5px;
				padding-left:1vw;
				padding-right:1vw;
			}
		}
		.wk_meta{
			@include mq($from:desktop){
				font-size:10px;
				padding-left:1vw;
				padding-right:1vw;
			}
		}
	}


	.wk_wrap_image {
		width: 100%;
		height: 100%;
		position:absolute;
		overflow: hidden;
	}

	.wk_image {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display: block;
		position:absolute;
		top:0;
		left: 0;
		transform: scale(1);
		@include transition();
	}

	.wk_articolo {
		width: 100%;
		position:absolute;
		bottom:0;
		color:$bianco;
		text-align: center;
		padding-bottom:7px;
		padding-top:15px;

		background: rgb(100,147,200);
background: linear-gradient(0deg, rgba(100,147,200,1) 0%, rgba(100,147,200,0.7279236276849642) 63%, rgba(100,147,200,0) 100%);

		a {
			color: $bianco;
		}

		@include mq($from:500px){
			padding-bottom:15px;
		}
	}

	.wk_titolo {
		font-size:13px;
		line-height: 1.3em;
		padding-left:6%;
		padding-right:6%;
		padding-bottom:7px;
		font-weight: 400;

		@include mq($from:500px){
			padding-bottom:15px;
			font-size:14px;
		}

		@include mq($from:tablet){
			text-align: left;
			padding-left:2vw;
			padding-right:2vw;
		}


	}


	.wk_titolo a {
		@include mq($from:500px){
			display: inline-block;
			margin:0 auto;
			max-width: 200px;
		}
		@include mq($from:tablet){
			max-width:100%;
		}
	}

	.wk_meta {
		color: $bianco;
		font-size: 10px;

		@include mq($from:500px){
			font-size:12px;
		}

		@include mq($from:tablet){
			text-align: left;
			display: inline-block;
			padding-left:2vw;
			width: 100%;
		}
	}


	.customContentListFooter{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		width: 100%;

		.wk_link_piattaforma{
			display: inline-block;
			position:relative;
			margin-top: 15px;
			margin-bottom: 15px;

			svg {
				height: 40px;
			}

			@include mq($from:tablet){
				position:absolute;
				right: 0%;
				width: 50%;
				text-align: center;
			}
		}
		.wk_pulsante{
			color:$azzurro;
			&:after {
				border-color:$azzurro;
			}

			@include mq($from:tablet){
				position:absolute;
				right: calc(50% + 4px);
			}
		}
	}

}

.notouch #advisor-professional .wk_item:hover .wk_wrap_image .wk_image {
	@include transition;
	transform: scale(1.1);
	transition-duration: 1s !important;
}



#advisor-private {

	h2.widget_title {

		& > a {
			display: inline-block;
			@include sfondoPrivate()
		}
	}

	.wk_articolo {

		background: rgb(125,165,151);
	background: linear-gradient(0deg, rgba(125,165,151,1) 0%, rgba(125,165,151,0.7279236276849642) 63%, rgba(125,165,151,0) 100%);
	}


	.customContentListFooter{

		.wk_link_piattaforma{
			@include transition();
			transform: translateY(0px);

			display: none;

			@include mq($from:400px){
				display: inline-block;
			}

			svg {
				height: 15px;

				@include mq($from:400px){
					height: 20px;
				}

				@include mq($from:tablet){
					height: 25px;
				}
			}
		}

		.wk_pulsante{
			color:$verde_chiaro;
			&:after {
				border-color:$verde_chiaro;
			}
		}
	}
}

.notouch #advisor-private .customContentListFooter a.wk_link_piattaforma:hover,
.notouch #advisor-professional .customContentListFooter a.wk_link_piattaforma:hover {
	@include transition();
	transform: translateY(-4px);
}

.wk_professional_data {
	position:absolute;
	right: 0;
	top: 0;

	span {
		font-size: 14px;
		padding-right:2vw;

		@include mq($from:400){
			font-size: 16px;
		}
		@include mq($from:tablet){
			font-size: 18px;
		}
		@include mq($from:desktop){
			padding-right:0;
		}
	}
}


/* STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI */
/* STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI */
/* STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI --- STRUEMNTI FINANZIARI */



#strumenti-finanziari{
	position:relative;
	width: 100%;

	@include mq($from:tablet){
		margin-top: 80px;
	}

	h2.widget_title {
		
	}

	.wk_contenitore_lista {
		background:$bianco;
		box-shadow: 
		        inset 0px 11px 8px -10px #CCC,
		        inset 0px -11px 8px -10px #CCC; 

		@include mq($from:1100px){
			position:relative;
			width: 100vw;
			left: calc(( -100vw + 1100px) / 2);
		}
	}

	.wk-owl-strumenti-finanziari {

		@include mq($from:tablet){
			width: 100%;
			max-width: 1100px;
			margin:0 auto;
			position:relative;
		}
	}

	.wk_item {
		width: 100%;
		@include mq($from:500px){
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	.wk_sub_item{
		margin-left: 15px;
		margin-right:15px;
		border-bottom:1px solid $rossochiaro;

		&:last-child {
			border-bottom:0 !important;
			border-right:0 !important;

			@include mq($from:500px){
				border-bottom:1px solid $rossochiaro !important;

			}
			@include mq($from:tablet){
				border-bottom:0 !important;
			}

		}

		@include mq($from:500px){
			width: calc(50% - 30px);

		}

		@include mq($from:tablet){
			margin:0;
			width: 25%;
			margin:0;
			border-bottom:0;
			border-right:1px solid rgba($rossochiaro, 0.5);

			padding-left:25px;
			padding-right:25px;
			padding-top: 0px;
			padding-bottom: 7px;
			margin-top: 35px;
			margin-bottom: 25px;
		}
	}

	.wk_logo_partner {
		width: 30%;
		position:absolute;
		right: 0;
		bottom:0px;
		display:inline-block;

		@include mq($from:tablet){
			position:relative;
			width: 100%;
			margin-bottom: 15px;
		}
		@include mq($from:desktop){
			margin-bottom: 10px;
		}

		img {
			@include mq($from:tablet){
				height: 40px;
				width: auto;
			}

			@include mq($from:desktop){
				height: 50px;
				width: auto;
			}
			@include mq($from:wide){
				height: 60px;
				width: auto;
			}
		}
	}

	.wk_articolo {
		position:relative;
		padding-top: 25px;
		padding-bottom: 25px;

		@include mq($from:tablet){
			padding-left:0px;
			padding-right:0px;
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}

	.wk_social_sharing {
		display: none;
	}

	.wk_titolo {
		font-size: 14px;

		@include mq($from:desktop){
			font-size: 15px;
		}
	}

	.wk_excerpt {
		@include mq($from:tablet){
			display: inline-block;
			padding-top:10px;
			color: $nerochiaro;
		}
	}

	.wk_meta {
		font-size: 11px;
		display: inline-block;
		@include mq($from:tablet){
			padding-top:10px;
			font-size: 10px;
		}
		@include mq($from:desktop){
			font-size: 12px;
		}
	}

	.owl-dots {
		width: 100%;
		text-align: center;
		padding-top:25px;
		padding-bottom:7px;
	}

	.customContentListFooter{
		text-align: center;
		padding-bottom:15px;

		@include mq($from:tablet){
			padding-top:25px;
		}
		@include mq($from:desktop){
			padding-top:30px;
		}
		@include mq($from:wide){
			padding-top:35px;
		}
	}
}


/* ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS */
/* ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS */
/* ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS --- ESG FOCUS */




#focus-esg {
	position:relative;
	width: 100%;
	margin-top: 30px;
	overflow: hidden;

	@include mq($from:tablet){
		margin-top: 40px;
	}

	@include mq($from:1100px){
		overflow: visible;
	}

	h2.widget_title {
		position:relative;
		width: 100%;

		& > a {
			display: inline-block;
			@include sfondoEsg();
		}

		margin-bottom: 7px;

		@include mq($from:desktop){
			margin-bottom: 15px;
		}

		.wk_logo_nn {
			height: 100%;
			margin-left: 10px;

			img {
				height: 100%;
				width: auto;
			}
		}
	}

	.wk-owl-focus-esg {
		width: 100%;
		width: calc(100% + 14px);
		margin-left:-7px;
		margin-right: -7px;
	}

	.wk_item {
		width:100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		@include mq($from:550px){
			justify-content: space-between;
		}
	}

	.wk_sub_item {
		position:relative;
		width: 100%;
		background:$bianco;
		box-shadow:0 0 6px 0px rgba(0,0,0,0.1);
		margin-bottom: 7px;
		display: flex;
		flex-direction: row;

		@include mq($from:550px){
			width: calc(50% - 4px);
			flex-direction: column;
		}
		@include mq($from:tablet){
			width: calc(50% - 8px);
			flex-direction: column;
			margin-left: 4px;
			margin-right: 4px;
		}
		@include mq($from:desktop){
			flex-direction: row;
			width: calc(100% - 14px);
			margin-left: 7px;
			margin-right: 7px;
			margin-bottom: 7px;
			margin-top: 7px;
		}
	}

	.wk_wrap_image {
		width: 50%;
		padding-bottom:32.5%;
		height: 0;
		position:relative;
		overflow: hidden;

		@include mq($from:550px){
			width: 100%;
			padding-bottom:65%;
		}
		@include mq($from:desktop){
			width: 50%;
			padding-bottom:32.5%;
		}
	}

	.wk_image {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		display: block;
		position:absolute;
		top:0;
		left: 0;
		transform: scale(1);
		@include transition();
	}

	.wk_articolo {
		width: 50%;
		padding:15px;
		color: $esg_chiaro;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: space-around;

		@include mq($from:550px){
			width: 100%;
		}
		@include mq($from:desktop){
			width: 50%;
		}


		a {
			color: $esg_chiaro;
		}
	}

	.wk_titolo {
		font-size: 12px;

		@include mq($from:550px){
			font-size: 14px;
			padding-bottom:7px;
		}
		@include mq($from:tablet){
			font-size: 15px;
		}
		@include mq($from:wide){
			font-size: 16px;
		}
	}

	.wk_excerpt {
		display: block;
		color: $nerochiaro;

		@include mq($from:550px){
			font-size: 12px;
			padding-bottom:7px;
		}
		@include mq($from:wide){
			font-size: 13px;
		}
	}

	.owl-dots {
		margin-top: 15px;
		bottom:0;
		@include mq($from:tablet){
			position:relative;
		}

		span {
			background-color:$esg_chiaro;
		}		
	}

	.customContentListFooter{
		text-align: center;

		@include mq($from:tablet){
			position: absolute;
			right: 15px;
			bottom: -20px;
			z-index: 9;
		}
		@include mq($from:wide){
			right: 0;
		}

		.wk_pulsante{
			transform: translateX(-10px);
			color:$esg_chiaro;
			&:after {
				border-color:$esg_chiaro;
			}

			@include mq($from:wide){
				transform: translateX(0);
			}
		}
	}
}


/* EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE */
/* EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE */
/* EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE --- EDITORIALE */


#editoriale {
	position:relative;
	width: 100%;
	margin-top: calc(25% + 30px);
	overflow: visible;

	@include mq($from:tablet){
		width: calc(50% - 30px);
		margin-left: 15px;
		margin-right: 15px;
		margin-top: calc(12% + 30px);
	}

	@include mq($from:desktop){
		width: 32%;
		margin-top: calc(12% + 30px);
	}

	@include mq($from:wide){
		width: 32%;
		margin-left: 0;
		margin-right: 0;
		margin-top: calc(12% + 30px);
	}
}


.wk_editoriale {
	background:$bianco;
	position:relative;
	width: 100%;


	.wk_image_editoriale {
		width: 50%;
		height: 0;
		padding-bottom:50%;
		margin: 0 auto;
		position:relative;
		border:2px solid $rossochiaro;
		border-radius:1000px;
		overflow: hidden;
		background-position:center center;
		background-repeat:no-repeat;
		background-size:cover;
		box-shadow: inset 0 0 0 5px #fff;
		transform: translateY(-50%);
		margin-bottom: -25%;
	}

	.wk_articolo {
		padding-top: 25vw;
		padding:15px;
		position:relative;
		font-size: 14px;
		line-height: 2em;

		@include mq($from:tablet){
			padding:20px;
			padding-bottom:10px;
		}
		@include mq($from:desktop){
			padding:20px;
			padding-left:50px;
			padding-right:50px;
			line-height: 1.7em;
			padding-bottom:10px;
		}
	}

	h2 {
		width: 100%;
		display: block;
		text-align: center;
		font-weight: 600;
		font-size: 24px;
		color: $rossochiaro;

	}

	h4 {
		width: 100%;
		text-align: center;
		font-size: 11px;
		font-weight: 500;
	}

	.wk_pulsante {
		padding-left:0;
		margin-bottom: 0;

	}

	.wk_social_sharing {
		bottom:28px;
		max-width: 50%;

		@include mq($from:tablet){
			width: auto;
			bottom: 25px;
			right: 25px;
		}

		li:last-child {
			@include mq($from:tablet){
				display: none;
			}
		}
	}

}

/* BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE */
/* BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE */
/* BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE --- BLOCCO RIVISTE */

#riviste {
	position:relative;
	width: 100%;
	margin-top: 30px;

	@include mq($from:500){
		margin-top: 45px;
	}

	@include mq($from:tablet){
		width: 50%;
	}

	@include mq($from:desktop){
		width: calc(100% - 32% - 30px - 300px - 30px);
		margin-top: calc(12%);
		margin-right: 0px;
	}
	@include mq($from:wide){
		margin-left: 25px;
		width: calc(100% - 32% - 25px - 300px - 30px);
	}
}

.wk_contenitore_riviste {
	@include mq($from:tablet){
		display: flex;
		flex-direction:column;
	}
}

.wk_item_rivista {
	width: 100%;
	padding:15px;

	@include mq($from:tablet){
		padding:25px;
		display: flex;
		flex-direction:row;
		justify-content: space-around;
	}

	@include mq($from:desktop){
		padding-right:0;
		justify-content: space-between;
	}


	.wk_rivista_immagine {
		max-width: 50%;
		margin: 0 auto;

		@include mq($from:tablet){
			width: 40%;
		}

		img {
			display: block;
			width: 100%;
			transform: rotate(-5deg);
			@include transition();
			box-shadow:0 0 16px 0 rgba(0,0,0,0.2);


			@include mq($from:desktop){
				width: 110%;
			}
		}
	}

	.wk_riviste_testo {
		padding-top: 30px;
		max-width: 250px;
		padding-bottom: 30px;
		margin:0 auto;
		text-align: center;

		@include mq($from:tablet){
			width: 50%;
			float: left;
			padding-left:20px;
			padding-right:20px;
			text-align: left;
		}

		@include mq($from:desktop){
			padding-right:0px;
			margin-left: 15px;
		}

		h5 {
			text-align: center;
			@include mq($from:tablet){
				text-align: left;
			}
		}

		p {
			text-align: left;
			@include mq($from:tablet){
				font-size: 14px;
				line-height: 2em;
			}
			@include mq($from:desktop){
				font-size: 13px;
				line-height: 1.7em;
			}
		}
	}

	.wk_pulsante_rivista {
		display: inline-block;
		padding-left: 15px;
		padding-right:15px;
		padding-top:7px;
		padding-bottom:7px;
		@include sfondoAnimato();
		color: $bianco;
		font-weight: 600;
		text-transform: uppercase;
		font-size:12px;
		margin:0 auto;
	}

	.wk_private_pulsante {
		@include sfondoPrivate();
	}
}

.notouch .wk_rivista_immagine img:hover{
	@include transition()
	transform: rotate(0deg);
	cursor: pointer;
}


/* TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER */
/* TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER */
/* TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER --- TWITTER */




#wk_twitter {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	width: 100%;
	margin:0 auto;
	margin-top: 30px;
	max-width: 300px;

	@include mq($from:desktop){
		width: 100%;
		max-width: 100%;
		height: 0;
		margin: 0;
	}

	@include mq($from:wide){
		margin-top: 65px;
	}

	.wk_twitter_wrap {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		max-width: 300px;
		justify-content: center;
		align-content: middle;
		text-align: center;
		margin:0 auto;
		color: $nero;

		@include mq($from:desktop){
			float: right;
			max-width: 250px;
			margin-right: 25px;
			transform: translateY(-60%);
		}
	}

	.icon-twitter {
		font-size: 50px;
		color: #c8c8c8;
	}

	h4 {
		font-size: 12px;
		font-weight: 500;
		margin-top: 15px;
		margin-bottom: 15px;

		@include mq($from:tablet){
			font-size: 14px;
		}
	}

	.wk_testo_tweet {
		font-size: 15px;
		font-weight: 300;
		font-style: italic;
		line-height: 1.6em;
		margin-bottom: 15px;
		position:relative;

		@include mq($from:tablet){
			font-size:15px;
		}
		@include mq($from:desktop){
			font-size:16px;
		}
		@include mq($from:wide){
			font-size:18px;
		}

		&:before {
			content: "\“";
			color: $rossochiaro;
			font-size: 115px;
			font-family: 'Source Serif Pro', serif;
			font-style: normal;
		    transform: translateY(80%);
		    display: block;
		    float: left;
		
		}
	}

	.wk_data_tweet {
		font-size: 11px;
	}
	
}

.notouch .wk_twitter_wrap:hover {
	color: $rossochiaro;
}



/* OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL */
/* OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL */
/* OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL --- OWL CAROUSEL */

.owl-dots {
	width: 100%;
	text-align: center;

	@include mq($from:tablet){
		position:absolute;
		bottom:-30px;
	}
	@include mq($from:desktop){
		position:absolute;
		bottom:-35px;
	}
	@include mq($from:wide){
		position:absolute;
		bottom:-40px;
	}

	span {
		display: inline-block;
		border-radius:100px;
		width: 10px;
		height: 10px;
		background:$rosso;
		opacity: 0.3;
		margin-left: 3px;
		margin-right: 3px;

		@include mq($from:tablet){
			margin-left: 4px;
			margin-right: 4px;
		}
		@include mq($from:desktop){
			margin-left: 5px;
			margin-right: 5px;
		}
		@include mq($from:wide){
			margin-left: 6px;
			margin-right: 6px;
		}
	}

	.owl-dot.active span {
		background:$rosso;
		opacity: 1;
	}


}


